<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/register.css') }}">
    <title>Register. PHT</title>
</head>
<body>
    <nav><a href="/">Вернуться назад</a></nav>

    <div id="one_div">
        <form method="POST" action="/register">
            <div>
                <label>Имя пользователя:</label>
                <input type="text" name="username" required>
            </div>

            <div>
                <label>Email:</label>
                <input type="email" name="email" required>
            </div>

            <div>
                <label>Пароль:</label>
                <input type="password" name="password" required>
            </div>

            <button id="id" type="submit">Зарегистрироваться</button>
        </form>
    </div>
</body>
</html>